.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button-container {
  background-color: white;
  display: flex;
  width: 60vw;
  justify-content: space-between;
  height: 5vh;
  padding: 5px;
  position: fixed;
  top: 0;
  border: solid 1px;
}

.search-button-input {
  width: 75%;
}

.search-button {
  width: 20%;
  height: 100%;
}

.cards-container {
  margin-top: 60px;
}
